@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
html, body {
  height: 100%;
}

@layer base {
  body {
    @apply text-gray-900;
    font-family: 'Inter', system-ui, sans-serif;
  }
  
  h1 {
    @apply text-2xl font-bold;
  }
  
  h2 {
    @apply text-xl font-semibold;
  }
}

/* Custom components */
@layer components {
  .btn-primary {
    @apply bg-primary-500 hover:bg-primary-600 text-white font-medium py-2 px-4 rounded-lg transition-colors;
  }
  
  .card {
    @apply bg-white rounded-lg shadow p-6;
  }

  .gradient-btn {
    background: linear-gradient(to right, #14919B, #E2F163); 
  }

  .gradient-yellow {
    background: linear-gradient(to right, #E2F163, #828B39);
  }

  .gradient-gray {
    background: linear-gradient(to right, #F3F3F3, #D5D5D5);
  }

}

